* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}


body {
  font-family: 'handlee', cursive;
  font-size: 1.2rem;
  font-weight: 400;
  background: linear-gradient(rgba(0, 0, 0, 0.191), rgba(0, 0, 0, 0.200)), url("../img/Allee3.jpg") center/cover fixed;
  /* background-repeat: no-repeat; */
  opacity: 30px;


}

@media screen and (max-width:767px) {

  body {
    background: linear-gradient(rgba(0, 0, 0, 0.191), rgba(0, 0, 0, 0.200)), url("../img/5rythme.png") center/cover fixed;
  }
}




img {
  max-width: 100%;
  border-radius: 10px;
}

 /* ROOT QUI CIBLE LA RACINE DE MA PAGE HTML  */

:root {
 /* --marron-nav: #c8953ecc; */
 --marron-jaune: #C8953E;
 --jaune: #FFC304;
 --marron-clair: #AD7406;
 --marron-cofee: #76480A;
 --marron-fonce: #423604;
 --blanc:#FAFFF5;



}

/* header.inc.php avec ma barre de navigation, mon logo, mes menus et mes icônes */


.navigation {
  /* position: fixed; */
  
  width: 100%; 
  height: 22vh;
  background-color: var(--marron-clair);
  padding: 40px;

}

nav a {
  color: var(--blanc);
}

.nav-link:hover{
  color: var(--jaune)!important;
  text-decoration: underline;
  text-underline-offset: 12px;
  padding: 5px;
}



.logo {
  width: 10% !important;
  

 /* padding-top: 5px;
 margin-top: 20px; */
}

.nav-item {
  padding: 20px;
  color: var(--blanc);
  padding: 20px;
}

.nav-link {
  color: var(--blanc);
  font-weight: 800;
}

/* .active {
  color:chocolate;
} */

a.nav-link-toggler

 {
  width: 25%;
  background-color: var(--blanc);
}



.navbar-collapse {
  background-color: var(--marron-clair);
  margin-top: 5px;
 
}
  



/* icones */
.bi-disc-fill,
.bi-person-square,
.bi-bag-fill,
.bi-search {
  font-size:1.5rem;
}


.bi-person-square,
.bi-bag-fill,
.bi-search {
  color: var(--blanc);
  padding: 25px;
}


/* BARRE DE RECHERCHE */


/* 
.search-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
}

.search-bar {
  display: none;
  max-width: 300px;
}

.search-bar {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.form-control.show {
  display: block;
}

Styles supplémentaires pour améliorer l'apparence
.search-icon:hover {
  color: #333;
}

.search-bar .form-control:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
} */
/* HOVER DES ICONES  */

.bi-disc-fill:hover,
.bi-person-square:hover,
.bi-bag-fill:hover,
.bi-box-arrow-right:hover,
.bi-search:hover {
  color: var(--jaune);
}

/* .bi-person-square:hover,
.bi-person-square:hover,
.bi-bag-fill:hover {
  color: var(--jaune);

} */



/* TEXTES PARAGRAPHES  TITRES  */
h1,
h2
 {
  font-weight: 800;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  padding: 5px;
  color:var(--blanc);
  /* color: black; */

}


p  {
  text-align: center;
  border-radius: 10px;
  /* padding: 20px 20px; */
  background: rgba(246, 244, 244, 0.213) !important;
  backdrop-filter: blur(2px);
  font-family: "Rosario", sans-serif;
  font-weight: bolder;
  /* text-shadow: 1px 1px 2px black; */
  padding: 30px;
  color:var(--blanc);


}


.para-light {
  width: 90%;
  margin: auto;
}
/* 
.titre {
    margin-bottom: 30px !important;
    
} */


/* INC FOOTER */

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--blanc);
  font-weight: 800;
  font-size: 1.5rem;
}

a:hover{
  color: var(--jaune)!important;
  transition: 0.3s;
}

.bi-facebook,
.bi-github{
  /* display: flex; */
  /* padding: 6px; */
  font-size: 3rem;
  color: var(--blanc);
  padding: 5px;
}

.bi-facebook:hover,
.bi-github:hover{
  color: var(--jaune);
  transition: 0.3s;
}




/* LES GRANDS TITRES DES PAGES, SLIDE -> CODE PEN   */

.title {
  font-size: 50px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
  color: var(--blanc);
}

@keyframes slide-in-anim {
  20% {
      opacity: 0;
  }
  60% {
      transform: translateX(-45%);
  }
  75% {
      transform: translateX(-52%);
  }
  100% {
      opacity: 1;
      transform: translateX(-50%);
  }
}



/* FOOTER */

footer {
 
/* height: 45vh; */
width: 100%;
background-color: var(--marron-clair) !important;
padding: 36px;

}

footer .footer-container{
  display: flex;
  
}



.logo-footer {
  width:  8%;
  height: 8%;

}


footer a:hover {
  text-decoration: underline;
  text-underline-offset: 12px;
  padding: 5px;
  
}


footer .footer-left {
  padding-right: 100px;
  border-right: 3px solid var(--blanc);
 
}


footer .footer-right {
  padding-left: 100px;
}

footer .icones-reseaux{
  margin-top: 16px;
}

.social{
  text-shadow: 1px 1px 2px black;
  color:var(--blanc);
}





/* PAGE HISTOIRE DU GWOKA  */

.para-center {
  width: 80%;
  margin: auto;
  background-color: var(--blanc);
  border-radius: 10px;
}

.para-brown {
  color: var(--marron-fonce);

}
/* SECTION IMAGES POLAROIDS ET TEXTES */

.polaroid {
  background-color: var(--blanc);
  border-radius: 5px;
  border-left: 20px solid var(--blanc);
  border-right: 20px solid var(--blanc) ;
  border-top:20px solid var(--blanc) ;
  border-bottom: 15px solid var(--blanc);

}

.polaroid:hover{
transform: scale(1.5);
transition: 0.5s;
}

.text-pola {
  color: var(--marron-fonce);

}

.text-pola:hover {
  color:var(--marron-clair);
}

/* ROTATION DES POLAROIDS */

.rotate1 {
transform : rotate(15deg);

}

.rotate2 {
  transform : rotate(-15deg);
}

.rotate3 {
  transform : rotate(15deg);
}



/* PAGE LES 7 RYTHMES AVEC LE GRID POUR LES  IMAGES ET LE TEXTE  */

.container-gallery {
  width: 70%;
  height: 100vh;
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: (7 / 1fr);
  grid-template-rows: (7 / 1fr);
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas:
      "PHOTO1 PHOTO1 PHOTO1 PHOTO1 PHOTO2 PHOTO2 PHOTO2"
      "PHOTO1 PHOTO1 PHOTO1 PHOTO1 PHOTO2 PHOTO2 PHOTO2"
      "PHOTO3 PHOTO3 PHOTO6 PHOTO6 PHOTO6 PHOTO4 PHOTO4"
      "PHOTO3 PHOTO3 PHOTO6 PHOTO6 PHOTO6 PHOTO4 PHOTO4"
      "PHOTO3 PHOTO3 PHOTO6 PHOTO6 PHOTO6 PHOTO4 PHOTO4"
      "PHOTO5 PHOTO5 PHOTO5 PHOTO7 PHOTO7 PHOTO7 PHOTO7"
      "PHOTO5 PHOTO5 PHOTO5 PHOTO7 PHOTO7 PHOTO7 PHOTO7";
  /* border: 2px solid red; */
}

.PHOTO1 {
  grid-area: PHOTO1;
  border-radius: 10px;
  /* border: 2px solid red; */
  background-image: url("../img/1rythme.jpg");
  background-repeat: no-repeat;
    /* background-image:url(background.jpg);
    background-repeat: no-repeat;
    _background-attachment : fixed; */
  
}

.PHOTO2 {
  grid-area: PHOTO2;
  /* border: 2px solid blue; */
  border-radius: 10px;
  background: url("../img/1rythme.jpg") center/cover;
  background-repeat: no-repeat;
}

.PHOTO3 {
  grid-area: PHOTO3;
  /* border: 2px solid purple; */
  border-radius: 10px;
  background: url("../img/2rythme.png") center/cover;
  background-repeat: no-repeat;
}

.PHOTO5 {
  grid-area: PHOTO5;
  /* border: 2px solid black; */
  border-radius: 10px;
  background: url("../img/2rythme.png") center/cover;
  background-repeat: no-repeat;
}

.PHOTO6 {
  grid-area: PHOTO6;
  /* border: 2px solid yellow; */
  border-radius: 10px;
  background: url("../img/3rythme.png") center/cover;
  background-repeat: no-repeat;

}

.PHOTO4 {
  grid-area: PHOTO4;
  /* border: 2px solid brown; */
  border-radius: 10px;
  background: url("../img/5rythme.png") center/cover;
  background-repeat: no-repeat;
}

.PHOTO7 {
  grid-area: PHOTO7;
  /* border: 2px solid red; */
  border-radius: 10px;
  background: url("../img/5rythme.png") center/cover;
  background-repeat: no-repeat;

}

.flip-container {
  perspective: 1000;
  background: transparent;
  margin: 100px auto;
}

/* flip the picture when hover */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}



/* flip vitesse */

.flipper {
  transition: 1.5s;
  transform-style: preserve-3d;
  position: relative;
}


.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}



/* BACK = le dos des images, le texte*/
.back {
  transform: rotateY(180deg);
  background:var(--marron-jaune);
  height: 9.0em;
  border-radius: 10px;
  
}





  /* PAGES BLOG */
/* SECTION ARTICLE*/
.about {
  margin-top: 70px;
  
}

.about-content {
  display: flex;
  /* padding: 20px; */
  align-items: center;
  /* justify-content: space-between; */
  width: 90%;
  margin: 0 auto;
}


/* contenu de l'article pair  */
.about-content:nth-child(even){  
  flex-direction: row-reverse;

}

.about-content:nth-child(even) .about-text {
  transform: translateX(70px);
  
}

.about-img {
  width: 50%; 
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  border-left: 10px solid var(--blanc);
  border-right: 10px solid var(--blanc) ;
  border-top: 10px solid var(--blanc) ;
  border-bottom: 10px solid var(--blanc);
}

.about-text
 {
  
  width: 30%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  left: -40px;
  z-index: 2;
  /* border-left: 10px solid var(--marron-clair); */
  /* border-right: 10px solid var(--marron-clair) ; */
  /* border-top: 10px solid var(--marron-clair) ; */
  /* border-bottom: 10px solid  */
}


.about-text p {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #B8860B;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #8B5A2B;
  color: var(--jaune);
  font-weight: 600;
}



/* PAGE ARTICLES LES ARTISANTS DU KA  */
.article-title {
  text-align: center;
  border-bottom: 2px solid var(--blanc);

}


.article-image {
  display: block;
  margin: 0 auto;
  border-radius: 18px;
  /* max-width: 50%; */
}
.article-content {
 margin: 0 auto;
  padding: 20px;
  width: 75%;
  backdrop-filter: blur(2px);
  
}
.article-author {
  text-align: right;
  border-bottom: 2px solid var(--blanc);
  text-shadow: 1px 1px 2px black;
  margin-bottom: 40px;
}



/* PARTIE COMMENTAIRE */
.container-comment {
  border-top: 2px solid var(--blanc);

}


  
/* PAGE INSCRIPTION AVEC FORMULAIRE */

.formulaire {
  /* height: 380px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.formu {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 200px;

}

.inscript {
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 220px;
    color: var(--blanc);
    font-weight: 800;
    
  }


  .form-label {
    color: var(--blanc);
    text-transform: uppercase;
    font-weight: 800;
  }

.btn-form {
  border-style: none;
  margin-top: 15px;
  background-color: var(--marron-clair);
  padding: 6px;
  border-radius: 5px;
  color: var(--blanc);

}


/* PAGE AJOUT D'ARTICLES */


/* /BACKOFFICE */
.text-bg {
  background-color: var(--marron-clair);
  
}



/*PAGE CD*/

.cd {
  margin: 100px;
  text-align: center;
  margin-left: 15px;
  padding-top: 20px;
}


section .aside {
  display: flex;
flex-direction: column;

    
}

.aside-filter {
  align-self: flex-end;
  padding: 30px;
  background-color: var(--blanc);
  border: 1px solid #ddd;
  margin-bottom: 180px;
  border-radius: 20px;
  height: 50vh;
}

.filter-options {

  margin-bottom: 20px;
}

.filter-options label {
  margin-right: 10px;
}


/* PAGE PROFIL  */

.img-djembe {
  width: 20%;
}

/* PAGE CD */

aside {
  padding: 20px;
 
  border-radius: 10px;
}

aside h2 {
  margin-top: 0;
}

aside p {
  margin-bottom: 10px;
}


.btn {
  margin-right: 10px;
}
